div.detail {
  dt, dd {
    display: inline-block;
    margin-bottom: 1px;
  }

  dt {
    width: 12%;
    background-color: #edf2f5;
    text-align: right;
    padding-right: 10px;
  }

  dd {
    width: 35%;
    margin: 0;
    padding-left: 5px;

    span {
      margin-right: 10px;
    }
  }

  dd.whole-row {
    width: 82%;
  }
}

/*--------------------------------start ceilometer------------------------------------------------*/
.meter_image{
	background-color: #F0F4F6;
	background-image: url(/static/dashboard/img/drop_arrow_l2.png);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	height:30px;
}
.chart_title_name{
	line-height:2;
}
.chart_title_name_left{
	width:500px;
	margin-left:2%;
	float:left;
}
.chart_title_name_right{
	float:left;
}
.chart_title_name_clear{
	clear:both;
}
.ceil_span_image{
	float:right;
	margin-right:1%;
	padding-top:8px;
	cursor:pointer;
}
/*--------------------------------end ceilometer------------------------------------------------*/
