{% load i18n %}
{% load url from future %}
<style>
.meter_image{
	background-color: #F0F4F6;
	background-image: url(/static/dashboard/img/drop_arrow_l2.png);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	height:30px;
}
.chart_title_name{
	line-height:2;
}
.chart_title_name_left{
	margin-left:2%;
	float:left;
}
.chart_title_name_right{
	margin-right:49.5%;
	float:right;
}
.chart_title_name_clear{
	clear:both;
}
</style>

<div class="info row-fluid detail">
  <div class="span12">
    <h4 class="meter_image" id="cpu_title_image"><span style="line-height:2.5">{% trans "cpu" %}</span><span style="margin-left:94.5%;cursor:pointer" onClick="horizon.d3_line_chart_ceilometer.showCPU();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>
    <hr class="header_rule" />
    <div id="cpu_cup_util" class="info row-fluid detail">
     <div class="chart_title_name"><div class="chart_title_name_left">{% trans "VM CPU Usage" %}</div><div class="chart_title_name_right">{% trans "VM CPU Usage Rate" %}</div><div class="chart_title_name_clear"/></div>
      <div class="span9 chart_container" style="width: 400px;">
          <div class="chart"
               data-chart-type="line_chart"
               data-url="{% url 'horizon:admin:metering:samples'%}?meter=cpu&group_by=project&date_options=null&resource_id={{ instance.id }}"
               data-form-selector='#linechart_general_form'
               data-legend-selector="#legend"
               data-smoother-selector="#smoother"
               data-display="true"
               data-slider-selector="#slider">
          </div>
          <div id="slider"></div>
        </div>

        <div class="span3 legend_container">
          <div class="span9 chart_container" style="width: 400px;">
          <div class="chart"
               data-chart-type="line_chart"
               data-url="{% url 'horizon:admin:metering:samples'%}?meter=cpu_util&group_by=project&date_options=null&resource_id={{ instance.id }}"
               data-form-selector='#linechart_general_form'
               data-legend-selector="#legend"
               data-smoother-selector="#smoother"
               data-display="true"
               data-slider-selector="#slider">
          </div>
          <div id="slider"></div>
        </div>
        
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="info row-fluid detail">
  <div class="span12">
    <h4 class="meter_image" id="memory_title_image"><span style="line-height:2.5">{% trans "memory" %}</span><span style="margin-left:92%;cursor:pointer" onClick="horizon.d3_line_chart_ceilometer.showMemory();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>
    <hr class="header_rule" />
    <div id="memory_memory_usage" class="info row-fluid detail">
      <div class="chart_title_name"><div class="chart_title_name_left">{% trans "VM Memory Usage" %}</div><div class="chart_title_name_right">{% trans "VM Memory Usage Rate" %}</div><div class="chart_title_name_clear"/></div>
      <div class="span9 chart_container" style="width: 400px;">
          <div class="chart"
               data-chart-type="line_chart"
               data-url="{% url 'horizon:admin:metering:samples'%}?meter=memory&group_by=project&date_options=null&resource_id={{ instance.id }}"
               data-form-selector='#linechart_general_form'
               data-legend-selector="#legend"
               data-smoother-selector="#smoother"
               data-slider-selector="#slider">
          </div>
          <div id="slider"></div>
        </div>
        <div class="span3 legend_container">
          <div class="span9 chart_container" style="width: 400px;">
          <div class="chart"
               data-chart-type="line_chart"
               data-url="{% url 'horizon:admin:metering:samples'%}?meter=memory.usage&group_by=project&date_options=null&resource_id={{ instance.id }}"
               data-form-selector='#linechart_general_form'
               data-legend-selector="#legend"
               data-smoother-selector="#smoother"
               data-slider-selector="#slider">
          </div>
          <div id="slider"></div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="info row-fluid detail">
  <div class="span12">
    <h4 class="meter_image" id="network_bytes_image"><span style="line-height:2.5">{% trans "network" %}</span><span style="margin-left:91.5%;cursor:pointer" onClick="horizon.d3_line_chart_ceilometer.showNetworkBytes();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>
    <hr class="header_rule" />
    <div id="network_bytes" class="info row-fluid detail">
    <div class="chart_title_name"><div class="chart_title_name_left">{% trans "VM Network Outgong and Ingong Bytes" %}</div><div class="chart_title_name_right" style="margin-right:39.5%;">{% trans "VM Network Outgong and Ingong Packets" %}</div><div class="chart_title_name_clear"/></div>
      <div class="span9 chart_container" style="width: 400px;">
          <div class="chart"
               data-chart-type="line_chart"
               data-url="{% url 'horizon:admin:metering:samples'%}?meter=network.ingoing.bytes-network.outgoing.bytes&group_by=project&date_options=null&resource_id={{ instance.id }}"
               data-form-selector='#linechart_general_form'
               data-legend-selector="#legend"
               data-smoother-selector="#smoother"
               data-slider-selector="#slider">
          </div>
          <div id="slider"></div>
        </div>
        
        <div class="span3 legend_container">
          <div class="span9 chart_container" style="width: 400px;">
          <div class="chart"
               data-chart-type="line_chart"
               data-url="{% url 'horizon:admin:metering:samples'%}?meter=network.ingoing.packets-network.outgoing.packets&group_by=project&date_options=null&resource_id={{ instance.id }}"
               data-form-selector='#linechart_general_form'
               data-legend-selector="#legend"
               data-smoother-selector="#smoother"
               data-slider-selector="#slider">
          </div>
          <div id="slider"></div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  if (typeof horizon.d3_line_chart !== 'undefined') {
    horizon.d3_line_chart_ceilometer.init("div[data-chart-type='line_chart']",
      {'auto_resize': true});
  }
 </script>
